In [2]:
import pandas as pd
import numpy as np
import openpyxl
import ast

In [6]:
df = pd.read_excel('test_data.xlsx',engine='openpyxl')

In [ ]:
# code ll genres

df["genres"] = df["genres"].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

df["genre_names"] = df["genres"].apply(lambda lst: [d["name"] for d in lst])

print(df[["genres", "genre_names_str"]].head(10))

df.drop(columns='genres' ,axis=1,inplace=True)

                                              genres  \
0                                                 []
1                     [{'id': 35, 'name': 'Comedy'}]
2                                                 []
3                [{'id': 99, 'name': 'Documentary'}]
4                [{'id': 99, 'name': 'Documentary'}]
5  [{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...
6                                                 []
7  [{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...
8  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
9                      [{'id': 18, 'name': 'Drama'}]

              genre_names_str
0
1                      Comedy
2
3                 Documentary
4                 Documentary
5             Fantasy, Comedy
6
7             Fantasy, Comedy
8  Animation, Comedy, Fantasy
9                       Drama

In [32]:
df['overview'].fillna('No overview available', inplace=True)

# تحويل النص لـ dict
df["reviews"] = df["reviews"].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# استخراج عدد الريفيوهات
df["n_reviews"] = df["reviews"].apply(lambda d: d.get("total_results", 0))

# استخراج الريفيوهات لو فيه
df["review_texts"] = df["reviews"].apply(lambda d: [r.get("content", "") for r in d.get("results", [])])

In [ ]:
# slice ll generes 
#slice ll production company
# removing original coloumns like generes and production company
# removing columns with big null values like imbd_id
# replacying all null values in the columns with acual thing like overview coloumn ()
# making a new review column with acual revies by extraction from reviews coloumn
# Total movies: 95154
# Movies with reviews: 3854
# Movies without reviews: 91300
# deleting review column
# making runtime coloumn float to be sense with minutes
# reordering the dataframe coloumns

In [39]:
# code ll production company

# # تحويل النص لقائمة (لو مخزن كـ string)
# df["production_companies"] = df["production_companies"].apply(
#     lambda x: ast.literal_eval(x) if isinstance(x, str) else x
# )

# # استخراج أسماء الشركات
# df["production_company_names"] = df["production_companies"].apply(
#     lambda lst: [d["name"] for d in lst]
# )



# print(df[["production_companies"]].head())

df.drop(columns='reviews',axis=1,inplace=True )

In [ ]:
# عدد كل الصفوف (الأفلام)
total_movies = df["n_reviews"].count()

# عدد الأفلام اللي عندها ريفيوهات
movies_with_reviews = (df["n_reviews"] > 0).sum()

# عدد الأفلام اللي مالهاش ريفيوهات
movies_without_reviews = (df["n_reviews"] == 0).sum()

print("Total movies:", total_movies)
print("Movies with reviews:", movies_with_reviews)
print("Movies without reviews:", movies_without_reviews)

Total movies: 95154
Movies with reviews: 3854
Movies without reviews: 91300

In [50]:
df['runtime'] = df['runtime'].astype('float64')
df.drop(columns=['n_reviews','review_texts'],axis=1,inplace=True )

In [55]:
# ترتيب الأعمدة الجديد
new_order = [
    "id",
    "title",
    "original_language",
    "origin_country",
    "genre_names",
    "production_company_names",
    "release_date",
    "runtime",
    "budget",
    "revenue",
    "popularity",
    "vote_average",
    "vote_count",
    "overview",
    "adult",
]

# إعادة الترتيب
df = df[new_order]

df.head()

,id,title,original_language,origin_country,genre_names,production_company_names,release_date,runtime,budget,revenue,popularity,vote_average,vote_count,overview,adult
0,195554,Panorama of Galveston Power House,en,['US'],[],[],1900-05-21,1.0,0,0,6.3707,4.0,4,This building and machinery supplied the elect...,False
1,105303,Explosion of a Motor Car,xx,['GB'],[Comedy],[Hepworth],1900-07-01,2.0,0,0,3.4255,6.1,55,An early trick film where a car explodes and b...,False
2,195553,"Panorama of Orphans' Home, Galveston",en,['US'],[],[],1900-09-21,1.0,0,0,3.2375,4.0,5,This is the building in which so many of the p...,False
3,195569,Panorama of Wreckage of Water Front,en,['US'],[Documentary],[Edison Studios],1900-09-21,1.0,0,0,5.1725,4.0,4,This picture shows the remains of one of the d...,False
4,195542,"Bird's-Eye View of Dock Front, Galveston",en,['US'],[Documentary],[Edison Studios],1900-09-21,1.0,0,0,4.0098,4.0,2,At the first news of the disast by cyclone and...,False

In [ ]:
# df.to_csv('movies_cleaned.csv', index=False)

df= pd.read_csv('movies_cleaned.csv')

np.int64(0)